spring:
  datasource:
    username: postgres
    url: jdbc:postgresql://localhost:5432/digitalcityairport_db
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: embedded
      data-locations: classpath:data.sql


springdoc:
  swagger-ui:
    path: /swagger
